/* impostazioni principali del layout */

body{
    background-color: white;
    font: 13px/20px "Times New Roman", Arial, sans-serif;
}

#page{
	background-color:white;
}

#header{
    background-color: green;
    color: white;

} 

#menu ul li a:link{
    color: white;
}

h2, h3, h4, h5, h6 {
    color: green;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}


a:link{
    text-decoration: underline;
    color: #9e1616;
}

a:visited{
    text-decoration: underline;
    color: #9e1616;
}

a:hover{
    font-weight: bold;

}

input{
    border: 1px solid #1c345a;
}

input[type=submit], button{
    color: #ffffff;
    background-color: #1c345a;
    height: 2em;
    font-weight: bold;
    border-radius: 1em;
    border: 1px solid #1c345a;
    min-width: 100px;
    margin-bottom: 10px;
    margin-top: 5px;

}

input[type=submit]:hover, button:hover{
    text-decoration: underline;
    cursor: pointer;
}
.input-form{
    line-height: 3em;
    border-bottom: 1px solid #1c345a;
}


.input-form input[type=text], .input-form input[type=password]{
    display: inline-block;
    width:59%;
}

.input-form select{
    display: inline-block;
    width:59%;
    border: 1px solid #1c345a;
    background-color: #ffffff;
}

.input-form input[type=submit], .input-form button{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 10px;
    padding-right: 10px;

}

/* stile delle tabelle */

table {
    border: 1px solid #1c345a;
    border-collapse: collapse;
    margin-top:10px;
    line-height: 1.2em;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}


th, td {
    border: 1px solid #1c345a;
    border-collapse: collapse;
    text-align: center;
}

th{
    background-color: #1c345a;
    color: white;
    font-weight: bold;
}

.esami-col-small{
    width: 10%;
}

.esami-col-large{
    width: 15%;
}

.iscrizione-col-small{
    width: 9%;
}

.iscrizione-col-large{
    width: 20%;
}

.reg-col-small{
    width: 10%;
}

.reg-col-large{
    width: 20%;
}

.commissione-col{
    width: 50%;
}

tr, td{
    background-color: #e8ebee;
}

tr.alt-row, tr.alt-row td{
    background-color: #bbc2ce;
}

#sidebar1 li {
    list-style: none;
}

#sidebar2 ol  {
    padding-left: 20px;
}



#sidebar1 ul, #sidebar2 ul{
    padding-left: 10px;
    margin-top: 0px;
    margin-left: 0px;
}


.icon-title{

    background-repeat: no-repeat;
    vertical-align: middle;
    padding-top: 3px;
    margin-top: 15px;
}

.panel, .panel-mini{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.panel li a:link, .panel-mini li a:link{
    text-decoration:  none;
    color: #9e1616;
}


.none{
    list-style: none;
}
.no-space{
    padding: 0px;
    margin: 0px;
}

.clear{
    clear: both; 
    width: 0px; 
    height: 0px;
}

.error li {
    list-style: none;
}

/* stile per i messaggi di errore */

.error{
    width: 90%;
    background-color: #f5a5a5;
    border: 5px solid #9e1616;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
}
.error div{
    margin: 0px;
    background: url('../images/no.png') no-repeat left top;
    min-height: 32px;
    
}

/* stile per i messaggi di conferma */

.confirm{
    width: 90%;
    background-color: #c7edce;
    border: 5px solid #36956e;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
}
.confirm div{
    margin: 0px;
    background: url('../images/ok.png') no-repeat left top;
    min-height: 32px;
}
#page {
	width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom:25px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
#sidebar1 {
    float: left;
    width: 19%;
    padding-left: 1%;
}
#sidebar2 {
    float: right;
    width: 19%;
    padding-right: 1%;
}
#content {
    margin-left: 21%;
    margin-right: 21%;
    padding-bottom: 10px;
    padding-left: 10px;
    min-height: 300px;
}
select.menu {
    display: none;
    }
#header{
    clear: both;
    height: 100px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    width: 900px;
    left: -20px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    }
#centrale{
    position: absolute;
    }
#menu{
    position: relative;
    float: right;
    display: inline-block;
}
#menu ul{
    position: relative;
    display: inline-block;
    list-style: none;
}
#menu ul li{
    position: relative;
    display: inline-block;
    color: white;
}
#menu a:link, #menu a:visited{
    color: white;
}
p.logout a:link, p.logout a:visited{
    padding-left: 18px;
}
p.logout{
    background: url('../images/logout.png') no-repeat left center;
}
div#centrale h1 {
    background-repeat: no-repeat;
    background-position: center left;
    height: 100px;
    vertical-align: middle;
    padding-left: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 100px;
    color: #ffffff;
    display: block;
}
.icon-title{
    padding-left: 10px;
}
/*#h-personali{
    background-image: url('../images/anagrafica-mini.png');
}
#h-esami{
    background-image: url('../images/libretto-mini.png')
}
#h-iscrizione{
    background-image: url('../images/iscrizione-mini.png')
}
#h-cerca{
    background-image: url('../images/cerca-mini.png')
}
#h-dip{
    background-image: url('../images/exec-mini.png')
}*/
